##
## Python
##

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

##
## JetBrains
##

# User-specific stuff
.idea

# IntelliJ
out/


*.xml

dist/
build/
libvirt_vm_optimizer.egg-info/
caps/
